{% extends 'base.html' %}
{% block title %}Research - East West University{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="fw-bold mb-4">Research Activities</h1>
        <div class="row">
            <div class="col-md-8">
                <h3>Current Projects</h3>
                <ul>
                    <li>Natural Language Processing for Bengali</li>
                    <li>IoT-based Smart Agriculture</li>
                    <li>Renewable Energy Integration</li>
                    <li>Entrepreneurship and SME Development</li>
                </ul>
                <h3 class="mt-4">Publications</h3>
                <ul>
                    <li>Journal of Engineering Research, Vol. 5, 2025</li>
                    <li>International Conference on Machine Learning, 2025</li>
                    <li>Business Review Quarterly, 2024</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5>Research Facilities</h5>
                        <p>State-of-the-art labs, library access, and funding opportunities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}