Django
gunicorn
whitenoise

annotated-doc
annotated-types
anyio
certifi
cffi
charset-normalizer
click
cryptography
distro

fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos

grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
numpy
opencv-python-headless
pandas
Pillow

proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser

pydantic

PyMySQL
pyparsing
python-dateutil
python-dotenv

requests
six
sniffio

SQLAlchemy
sqlparse
starlette

tenacity
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
websockets
